@import "tailwindcss";

@import "antd/dist/reset.css";

/* optional: your own custom styles */
body {
  font-family: 'Inter', sans-serif;
}
@keyframes kenburns {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.15) translate(-2%, -2%);
  }
}

.animate-kenburns {
  animation: kenburns 6s ease-in-out infinite alternate;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 1s ease forwards;
}
